div.leslie-body { margin: 0 auto; width: 800px; }
div.leslie-body p { line-height: 30px; }

div#leslie-logo { display: block; height: 70px; }
div#leslie-logo img { float: left; }
div#leslie-logo h1 { float: left; }
