#moses-stackswitcher .radio {
  -gtk-icon-source: -gtk-scaled(url("assets/radio-unchecked.png"), url("assets/radio-unchecked@2.png"));
  icon-shadow: 0 1px 0 white; }
  .radio.button.flat, .header-bar .radio.titlebutton.button,
  .titlebar .radio.titlebutton.button {
    icon-shadow: none; }

#moses-stackswitcher .radio:hover {
  -gtk-icon-source: -gtk-scaled(url("assets/radio-unchecked-hover.png"), url("assets/radio-unchecked-hover@2.png"));
  icon-shadow: 0 1px 0 white; }
  .radio:hover.button.flat, .header-bar .radio.titlebutton.button:hover,
  .titlebar .radio.titlebutton.button:hover {
    icon-shadow: none; }

#moses-stackswitcher .radio:active {
  -gtk-icon-source: -gtk-scaled(url("assets/radio-unchecked-active.png"), url("assets/radio-unchecked-active@2.png"));
  icon-shadow: 0 1px 0 white; }
  .radio:active.button.flat, .header-bar .radio.titlebutton.button:active,
  .titlebar .radio.titlebutton.button:active {
    icon-shadow: none; }

#moses-stackswitcher .radio:insensitive {
  -gtk-icon-source: -gtk-scaled(url("assets/radio-unchecked-insensitive.png"), url("assets/radio-unchecked-insensitive@2.png"));
  icon-shadow: 0 1px 0 white; }
  .radio:insensitive.button.flat, .header-bar .radio.titlebutton.button:insensitive,
  .titlebar .radio.titlebutton.button:insensitive {
    icon-shadow: none; }

#moses-stackswitcher .radio:backdrop {
  -gtk-icon-source: -gtk-scaled(url("assets/radio-unchecked-backdrop.png"), url("assets/radio-unchecked-backdrop@2.png"));
  icon-shadow: none; }
  .radio:backdrop.button.flat, .header-bar .radio.titlebutton.button:backdrop,
  .titlebar .radio.titlebutton.button:backdrop {
    icon-shadow: none; }

#moses-stackswitcher .radio:backdrop:insensitive {
  -gtk-icon-source: -gtk-scaled(url("assets/radio-unchecked-backdrop-insensitive.png"), url("assets/radio-unchecked-backdrop-insensitive@2.png"));
  icon-shadow: none; }
  .radio:backdrop:insensitive.button.flat, .header-bar .radio.titlebutton.button:backdrop:insensitive,
  .titlebar .radio.titlebutton.button:backdrop:insensitive {
    icon-shadow: none; }

#moses-stackswitcher .radio:checked {
  -gtk-icon-source: -gtk-scaled(url("assets/radio-checked.png"), url("assets/radio-checked@2.png"));
  icon-shadow: 0 1px 0 white; }
  .radio:checked.button.flat, .header-bar .radio.titlebutton.button:checked,
  .titlebar .radio.titlebutton.button:checked {
    icon-shadow: none; }

#moses-stackswitcher .radio:checked:insensitive {
  -gtk-icon-source: -gtk-scaled(url("assets/radio-checked-insensitive.png"), url("assets/radio-checked-insensitive@2.png"));
  icon-shadow: 0 1px 0 white; }
  .radio:checked:insensitive.button.flat, .header-bar .radio.titlebutton.button:checked:insensitive,
  .titlebar .radio.titlebutton.button:checked:insensitive {
    icon-shadow: none; }

#moses-stackswitcher .radio:checked:hover {
  -gtk-icon-source: -gtk-scaled(url("assets/radio-checked-hover.png"), url("assets/radio-checked-hover@2.png"));
  icon-shadow: 0 1px 0 white; }
  .radio:checked:hover.button.flat, .header-bar .radio.titlebutton.button:checked:hover,
  .titlebar .radio.titlebutton.button:checked:hover {
    icon-shadow: none; }

#moses-stackswitcher .radio:checked:active {
  -gtk-icon-source: -gtk-scaled(url("assets/radio-checked-active.png"), url("assets/radio-checked-active@2.png"));
  icon-shadow: 0 1px 0 white; }
  .radio:checked:active.button.flat, .header-bar .radio.titlebutton.button:checked:active,
  .titlebar .radio.titlebutton.button:checked:active {
    icon-shadow: none; }

#moses-stackswitcher .radio:backdrop:checked {
  -gtk-icon-source: -gtk-scaled(url("assets/radio-checked-backdrop.png"), url("assets/radio-checked-backdrop@2.png"));
  icon-shadow: none; }
  .radio:backdrop:checked.button.flat, .header-bar .radio.titlebutton.button:backdrop:checked,
  .titlebar .radio.titlebutton.button:backdrop:checked {
    icon-shadow: none; }

#moses-stackswitcher .radio:backdrop:checked:insensitive {
  -gtk-icon-source: -gtk-scaled(url("assets/radio-checked-backdrop-insensitive.png"), url("assets/radio-checked-backdrop-insensitive@2.png"));
  icon-shadow: none; }
  .radio:backdrop:checked:insensitive.button.flat, .header-bar .radio.titlebutton.button:backdrop:checked:insensitive,
  .titlebar .radio.titlebutton.button:backdrop:checked:insensitive {
    icon-shadow: none; }
